body{
    background-color: antiquewhite;
    font-family: "New Amsterdam", sans-serif;
    display: flex;
}

.box-1{
    display: flex;
    justify-content: center;
    margin: 1%;
}

.main-1{
    background-color: aliceblue;
    border: 2px solid black;
    width: 22vh;
    height: 20vh;
    box-shadow: -5px 7px 4px #79654a;
    transition: width 2s, height 2s; /* Transição suave */
    overflow: hidden;
    border-radius: 5%;
}

.main-1:hover {
    height: 70vh;
    width: 70vh;
}

.text_main-1{
    padding: 0px 3% 0px 3%;
}

.up_main-1{
    padding: 2%;
    background-color: #9af1f1;
    margin: 0px;
    font-size: 10%;
}

.info-1 h2{
    color: #9af1f1;
    text-shadow: -2px 3px 1.5px black;
    text-align: center;
}

.redes{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.redes a{
    color: #333;
    text-decoration: none;
    padding: 2%;
}

/*Aqui começa o css do card 2 */

.box-2{
    display: flex;
    justify-content: center;
    margin: 1%;
}

.main-2{
    background-color: aliceblue;
    border: 2px solid black;
    width: 22vh;
    height: 20vh;
    box-shadow: -5px 7px 4px #79654a;
    transition: height 2s, width 2s;
    overflow: hidden;
    border-radius: 5%;
}

.main-2:hover {
    height: 70vh;
    width: 70vh;
}

.text_main-2{
    padding: 0px 3% 0px 3%;
}

.up_main-2{
    padding: 2%;
    background-color: #9af1d1;
    margin: 0px;
    font-size: 10%;
}

.info-2 h2{
    color: #9af1d1;
    text-shadow: -2px 3px 1.5px black;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1.5vh;
    display: flex;
    justify-content: flex-end;
}

#feedbackBtn{
    color: antiquewhite;
    padding-right: 2.5vh;
    background-color: cadetblue;
    margin-right: 4vh;
    padding-left: 2.5vh;
    border-radius: 5px;
    font-family: "New Amsterdam", sans-serif;
    font-size: large;
}
#feedbackBtn:hover{
    color: cadetblue;
    background-color: antiquewhite;
    cursor: pointer;
}

/* Estilizando o Modal (Pop-up) */
.modal {
    display: none; /* Oculto por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro */
}

/* Conteúdo do Modal */
.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border: solid #000000;
    border-radius: 10px;
    width: 50vh;
    max-width: 500px;
    text-align: center;
    box-shadow: 0px 0px 20px 8px #64543f;
}

.modal-content h2 {
    color: rgb(221, 221, 138);
    text-shadow: -2px 3px 1.5px black;
    padding: 1vh;
}

/* Botão de Fechar */
.close {
    color: #000000;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(221, 221, 138);
    text-align: end;
    margin: -2.6vh;
    border-radius: 7px;
    padding-right: 4%;
}

.close:hover,
.close:focus {
    color: rgb(160, 30, 30);
    text-decoration: none;
    cursor: pointer;
}

/* Forms do feedback */
form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-footer{
    margin: auto;
}

form button{
    margin-top: 2.5%;
    color: antiquewhite;
    background-color: cadetblue;
    border-radius: 5px;
    font-family: "New Amsterdam", sans-serif;
    font-size: large;
}

form button:hover{
    color: cadetblue;
    background-color: antiquewhite;
    cursor: pointer;
}