body{
    background-color: antiquewhite;
    font-family: "New Amsterdam", sans-serif;
    display: flex;
}

.box-1{
    display: flex;
    justify-content: center;
    margin: 1%;
}

.main-1{
    background-color: aliceblue;
    border: 2px solid black;
    width: 50vh;
    height: 50vh;
    box-shadow: -5px 7px 4px black;
}

.text_main-1{
    padding: 0px 3% 0px 3%;
}

.up_main-1{
    padding: 2%;
    background-color: #9af1f1;
    margin: 0px;
    font-size: 10%;
}

.info-1 h2{
    color: #9af1f1;
    text-shadow: -2px 3px 1.5px black;
    text-align: center;
}

/*Aqui começa o css do card 2 */

.box-2{
    display: flex;
    justify-content: center;
    margin: 1%;
}

.main-2{
    background-color: aliceblue;
    border: 2px solid black;
    width: 50vh;
    height: 50vh;
    box-shadow: -5px 7px 4px black;
}

.text_main-2{
    padding: 0px 3% 0px 3%;
}

.up_main-2{
    padding: 2%;
    background-color: #9af1d1;
    margin: 0px;
    font-size: 10%;
}

.info-2 h2{
    color: #9af1d1;
    text-shadow: -2px 3px 1.5px black;
    text-align: center;
}