{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- LINK DO CSS -->
    <link rel="stylesheet" href="{% static 'polls/css/style.css' %}">
    <!-- LINK DA FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- TÍTULO DO SITE -->
    <title>{% block title %}Finance{% endblock %}</title>
    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="{% static 'polls/favicon.ico' %}">
</head>
<body>
    <h1>AOBA</h1>
</body>
</html>