{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- LINK DO CSS -->
    <link rel="stylesheet" href="{% static 'polls/css/index.css' %}">
    <!-- LINK DA FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- TÍTULO DO SITE -->
    <title>{% block title %}Alex The Sander{% endblock %}</title>
    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="{% static 'polls/favicon.ico' %}">
</head>
<body>
    {% block content %}
    <!--Div para fazer 1 card-->
    <div class="box-1">
        <main class="main-1">
            <p class="up_main-1"><i class='bx bxs-circle'></i><i class='bx bxs-circle'></i><i class='bx bxs-circle'></i></p>
            <div class="info-1">
                <h2>Sobre</h2>
            </div>
            <p class="text_main-1">Olá seja bem vindo!
            <br>
            Este site é para guardar e mostrar meus repositórios, fique a vontade para ver e dar o feedback sobre.
            <br>
            Bom, meu nome é Alexander, tenho 21 anos, sou estudante de ciência da computação na faculdade UniFil, 
            na cidade de Londrina no Paraná.
            Atualmente estou fazendo esse site para aprender mais sobre o framework Django que usa a linguagem Python,
            também estou tentando aprender GoLang, mas estou apenas no começo, por isso gostaria muito do FeedBack para
            ver o que posso melhorar no uso desse framework e linguagem, então caso queira ver o código basta visitar meu
            github, e também para entrar em contato basta me adicionar no linkedin.
            <br><br>
            Pois bem, agradeço por ter lido até aqui, tenha uma boa experiência!
            </p>
            <div class="redes">
                <a href=""><i class='bx bxl-github'></i>GitHub</a>
                <a href=""><i class='bx bxl-linkedin-square' ></i>Linkedin</a>
            </div>
        </main>
    </div>
    <!--Termina aqui a div-->
    <!--Div para fazer o card número 2-->
    <div class="box-2">
        <main class="main-2">
            <p class="up_main-2"><i class='bx bxs-circle'></i><i class='bx bxs-circle'></i><i class='bx bxs-circle'></i></p>
            <div class="info-2">
                <h2>Ju, 18</h2>
            </div>
            <p class="text_main-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel ab autem hic quo quaerat earum facilis numquam pariatur quam aliquid, suscipit distinctio doloribus, praesentium corporis voluptate ex eum omnis repellendus!</p>
        </main>
    </div>
    {% endblock %}
    <footer>
        <p>&copy; 2024 - AlexTheSander</p>
        <main class="main-footer">
            <button id="feedbackBtn">Dar FeedBack</button>
            <div id="feedbackModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Deixe seu feedback</h2>
                    <form method="POST" action="{% url 'polls:feedBack' %}">
                        {% csrf_token %}
                        <textarea style="border: none;" name="feedback" rows="5" placeholder="Escreva seu feedback aqui..."></textarea>
                        <button type="submit">Enviar</button>
                    </form>
                </div>
            </div>
        </main>
    </footer>
    <script src="{% static 'polls/js/index.js' %}"></script>
</body>
</html>
