{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'polls/css/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Home</title>
</head>
<body>
    <!--Div para fazer 1 card-->
    <div class="box-1">
        <main class="main-1">
            <p class="up_main-1"><i class='bx bxs-circle'></i><i class='bx bxs-circle'></i><i class='bx bxs-circle'></i></p>
            <div class="info-1">
                <h2>Alexander, 21</h2>
            </div>
            <p class="text_main-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel ab autem hic quo quaerat earum facilis numquam pariatur quam aliquid, suscipit distinctio doloribus, praesentium corporis voluptate ex eum omnis repellendus!</p>
        </main>
    </div>
    <!--Termina aqui a div-->
    <!--Div para fazer o card número 2-->
    <div class="box-2">
        <main class="main-2">
            <p class="up_main-2"><i class='bx bxs-circle'></i><i class='bx bxs-circle'></i><i class='bx bxs-circle'></i></p>
            <div class="info-2">
                <h2>Ju, 18</h2>
            </div>
            <p class="text_main-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel ab autem hic quo quaerat earum facilis numquam pariatur quam aliquid, suscipit distinctio doloribus, praesentium corporis voluptate ex eum omnis repellendus!</p>
        </main>
    </div>
</body>
</html>
